# Jekyll
_drafts/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.draft.md

# Bundler
.bundle/
vendor/

# Npm
node_modules/

# Visual Studio
.vs/
Debug/

# Visual Studio Code
.vscode/
*.code-workspace